*{
    margin: 0;
    padding: 0;
}

a:hover{
	text-decoration: none;
	color: #fff;
}
a{
	color: #fff;
	text-decoration: none;
}

.clearfix:after{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container{
	width: 930px;
	margin: 0 auto;
	
}

.menu{
	margin: 0;
	padding: 0;
	margin-top: 50px;
	display: flex;
	text-transform: uppercase;

}

.menu li{
	display: block;
	margin: 0 auto;


}

.menu a{
	color: black;

}

.menu a:hover{
	color: grey;
	text-decoration: none;
	border: none;
}

#items{

	margin-top:200px;
	max-width: 1300px;
	


}

#item_text{
	display: block;
	margin-left: 150px;
}

#item_text h1, p{
	text-align: center;
}

.container-fluid{
	max-width: 500px;
	display: block;

}

.container-fluid img{
	margin-left: 100px;
	max-width: 500px;

}

.services{
	margin-top: 150px;
}

.services_item{
	width: 270px;
	float: left;
	text-align: center;
}

.services_item h3{
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.services_item p{
	color:#777777;
	font-size: 14px;
	line-height:1.6em;
}

.services_item:last-child{
	float: right;
	display: block;
}

.services_item:first-child{
	float: left;
}


.services_item:nth-child(2){
	margin-left: 300px;
}

#services{
	padding-bottom: 120px;
}

.button{
	background: #fed136;
	color:#485543;
	border-radius: 3px;
	display:block;
	width: 200px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom:20px;
}

#item_text{
	margin-top: 200px;
	max-height: 100px;
}

#item_img{
	margin-left: 100px;
	margin-top: 100px;
	max-height: 200px;
}

#item_Container{
	height: 600px;
}


.services{
	margin-top:-2px;

}

.content_about_product h1{
	text-align: center;
}
.content_about_product p{
	color:#777777;
}

.content_about_product{
	border: solid #ffff;
	margin-top:50px;
}

#about_item{
	margin-top: 200px;

}

#abut_img{

}